.container {
    width: 1280px; 
    margin: 0 auto;
    text-align: center;
}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
}

.navigation-text {
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.main-title { 
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 38px;
    margin: 0 0;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.button {
    background: #FF0000;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    text-decoration: none;
}

.text-end {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    padding-top: 80px;
    display: flex;
    justify-content: flex-end;
}